*.pyc
.vscode
.venv
.removed
galv/protobuf
galv/webapp/assets/protobuf
libs/galv-js-protobufs
galv-protobuf.js
webstack/.env
.pnpm-store
*.egg-info
env

.idea/

.test-data/**/*.*
!.test-data/**/*.csv
.test-data/spam/*.csv
!.test-data/test-suite-small/*.xlsx

**/.env.*
.harvester/
.schema/
docs/build/
*.pptx

.coverage.*
test.tmp.parquet/

dist/
